<% include ../partials/header %>

<div class="wrapper">
  <header class="header">
    <h1>This is the Companies Page</h1>
    <p>View our hand-picked employees from these companies</p>
    <a href="/companies/new" class="btn">Add new company</a>
  </header>
  <div class="content">
    <% companies.forEach(function(company){ %>
      <div class="thumbnail">
        <h4><%= company.name %></h4>
        <img class="thumb-img" src='<%= company.image%>'></img>
        <p class="caption"><%= company.caption %></p>
        <p><a href="/companies/<%= company._id %>" class="btn">More Info</a></p>
      </div>
    <% }) %>
  </div>

</div>

<% include ../partials/footer %>