<% include ../partials/header %>

<div class="wrapper">
    <header class="header">
      <h1>Create a new company</h1>
    </header>
    <div class="form">
        <form action="/companies" method="POST">
          <input class="name-input" type="text" name="name" placeholder="name">
          <input class="image-input" type="text" name="image" placeholder="image url">
          <input class="descrip-input" type="text" name="description" placeholder="description">
          <button>Submit!</button>
          <a class="goback-link" href="/companies">Go Back</a>
        </form>
    </div>
</div>

<% include ../partials/footer %>