<% include partials/header %>

<div class="wrapper">
  <header class="header">
    <h1>This is the Companies Page</h1>
  </header>

  <a href="/companies/new" class="btn">Add new company</a>

  <% companies.forEach(function(company){ %>
    <div>
      <h4><%= company.name %></h4>
      <img src='<%= company.image%>'></img>
    </div>
  <% }) %>
</div>

<% include partials/footer %>